[Unit]
Description=Synchronize an obisidian notebook with the cloud regularly

[Timer]
AccuracySec=360
OnCalendar=hourly

[Install]
WantedBy=timers.target
