[Unit]
Description=System update reminder

[Install]
WantedBy=timers.target

[Service]
Type=simple
Environment="USER=sam"
ExecStart=notify-send -t 0 "System Upgrade" "It's time to update your system packages!"
