*

!colors
!colors/*

!.config
!.config/dunst
!.config/dunst/*
!.config/kitty
!.config/kitty/*
!.config/nvim
!.config/nvim/*
!.config/sway
!.config/sway/*
!.config/systemd
!.config/systemd/**/*
!.config/waybar
!.config/waybar/*

.config/systemd/user/*.wants/

!.bash_profile
!.bashrc
!.gitconfig
!.gitignore
!.tmux.conf
