*

!.bash_profile
!.bashrc
!.gitconfig
!.gitignore
!.tmux.conf

!colors
!colors/*

!.config
!.config/dunst
!.config/dunst/*
!.config/kitty
!.config/kitty/*
!.config/nvim
!.config/nvim/*
!.config/nvim/lua
!.config/nvim/lua/*
!.config/sway
!.config/sway/*
!.config/systemd
!.config/systemd/**/*
!.config/waybar
!.config/waybar/*

.config/systemd/user/*.wants/
.config/kitty/current-theme.conf
.config/kitty/themes.conf
.config/kitty/themes.conf.bak

!scripts
!scripts/*
